# Data Preprocessing

## Dataset : Wine Quality

### Description

The dataset contains different chemical information about wine. It has 4898 instances with 14 variables each. The dataset is good for classification and regression tasks. The model can be used to predict wine quality.

In [2]:
# Import packages
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [40]:
# présentation de la dataset
wine_white = pd.read_csv("./data/winequality-white.csv",sep=";")
# x = wine_white["free sulfur dioxide"]
# plt.plot(x)
wine_white

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,NaN,1.0010,3.00,0.45,8.8,6.0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6.0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6.0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
863,6.2,0.28,0.33,1.7,0.029,24.0,111.0,0.9900,3.24,0.50,12.1,6.0
864,4.8,0.33,0.00,6.5,0.028,34.0,163.0,0.9937,3.35,0.61,9.9,5.0
865,6.1,0.27,0.33,2.2,0.021,26.0,117.0,0.9886,3.12,0.30,12.5,6.0
866,6.9,0.18,0.36,1.3,0.036,NaN,NaN,0.9934,3.27,0.95,9.5,7.0
867,7.8,0.18,0.46,12.6,0.042,41.0,143.0,1.0000,3.24,0.76,8.5,8.0

## Data cleaning

Data cleaning routines work to **clean** the data by filling in missing values, smoothing noisy data, identifying or removing outliers, and resolving inconsistencies

### Missing data

Occur when no data value is stored for a variable in anobservation. Missing data are a common occurrence and can have a significant effect on the conclusions that can be drawn from the data

In [46]:
# code
# Imputation technique with mean
wine_white = wine_white.fillna(wine_white.mean())
wine_white.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

### Noise

Noise is incorrect, void, null information that is not useful at all, under any circumstances

In [5]:
## code
# Binning technique

## Outliers 

An outlier is not a false value or void in meaning. It is definite and accuratebut when it is linked with the other tuples, it is just not in the same range

In [7]:
# code

### Data inconsistency

It refers to a situation of keeping the same data in different formats. It often arise between various duplicates, due to inaccurate data entry or updating some but not all data occurrences or in data representations (e.g., “2010/12/25” and “25/12/2010” for date)

In [8]:
# code

## Data Reduction

Data reduction obtains a reduced representation of the data set that is much smaller in volume, yet produces the same (or almost the same) analytical results

### Feature Selection 
Techniques seek to reduce the number of original features by selecting those that are relevant and eliminating irrelevant andredundant ones

In [10]:
# code

### Feature Extraction
Techniques, new attributes are constructed from thegiven set of attributes

In [11]:
# code

## Data Transformation

### Normalization

In [12]:
# code

### Discretization

In [13]:
# code

## Data Balancing

**Inbalanced data** refers to a dataset within which one or some of the classes have a much greater number of training examples thanthe others

### Sampling

Consists of the modification of an imbalanced data set by some mechanisms in order to provide a balanced distribution

In [15]:
# code

### In-cost-sensitive

Instead of each instance being either correctly or incorrectly classified, each class is given a misclassification cost. Thus, instead of trying to optimize the accuracy, the problem is then to minimize the total misclassificationcost.

In [16]:
# code